body {
    font:14px Helvetica, Arial, sans-serif;
    color :#222222;
    margin-left : 50px;
    margin-top : 50px;
}

.heading1{
    font :28px Helvetica, Arial, sans-serif;
    color:blue;

}
.heading2{
    font :22px Helvetica, Arial, sans-serif;
    color:blue;

}

