@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VotingApp</h1>
    <p class="lead">This is a sample Voting Application created by Ground breakers to rate the Tech Tuesday presentations.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Presentations</h2>
        <p>Currently only Admins can create a new presentation.</p>
    </div>
    <div class="col-md-4">
        <h2>Upload Presentations</h2>
        <p>
            Admins or the presenter can share the presentation details. They can even upload the presentaion material like the slides, refernce links and code samples
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rate Presentations</h2>
        <p>As a user, you can login to rate a presentation on various parameters.</p>
    </div>
</div>