@model VotingApp.Models.VoteModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Upload", "Voting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.Partial("_VoteDetails", Model)
     
    <br/>
    <label>Select file</label>                             
    <input type="file" name="file" /><br />
    <input type="submit" value="Create" />
}
