@model VotingApp.Models.VoteModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Upload", "Voting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m=>m.Name)
    @Html.LabelFor(m => m.Rating)
    @Html.TextBoxFor(m => m.Rating);
     
    <br/>
    <label>Select file</label>                             
    <input type="file" name="file" /><br />
    <input type="submit" value="Create" />
}
