@model VotingApp.Models.CreateModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Upload", "Voting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    @Html.TextBoxFor(m=> m.Rating);
    <input type="submit" value="Create" />
}
