@model VotingApp.Models.MongoModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <thead><tr><th>Name</th><th>Rating</th><th>Download</th></tr></thead>
@foreach (var vote in Model.ListOFVote)
{
    
    <tr>
        <td> @Html.ActionLink(vote.Name, "Edit", new { id = vote.Id })</td>
        <td> @Html.Label(vote.Rating.ToString())</td>
        <td> @Html.ActionLink("Download", "Download", new { id = vote.Id })</td>
    
    </tr>
}
</table>