@model VotingApp.Models.VoteModels
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
    
 @Html.Partial("_VoteDetails", Model)
 @Html.HiddenFor(m => m.Id)
 @Html.ActionLink("Download", "Download", new { id = Model.Id })