*.dll
*.pdb
Domain/bin/Debug/*.*
Domain/obj/Debug/*.*
packages/
!packages/repositories.config
Repository/bin/Debug/*.*
Repository/obj/Debug/*.*
TechTuesdayFeedbackTool/bin/
TechTuesdayFeedbackTool/obj/Debug/
TechTuesdayFeedbackTool/obj/Debug/*.cache
*.suo
*.user
*.cache
DomainServices/obj/Debug/*.*
Repository/Migrations/
!Repository/Migrations/Configuration.cs